section.home{
    padding-top: unset;
    .banner{
        position: relative;
        .see-more{
            position: absolute;
            bottom: 1em;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            cursor: pointer;
            text-align: center;
            opacity: 0.5;
        }
    }
    .content.about-me{
        >.container{
            >img{
                width: 200px;
            }
            .page-profiles{
                >.row{
                    >.col{
                        .cover{
                        }
                        .label-btn{
                            background: $secondary_color;
                        }
                    }
                }
            }
        }
    }
    .content.courses{
        background: $container-bg-color;
        .container{
            >.row{
                .course{
                    cursor: pointer;
                    .label{
                        display: block;
                    }
                }
                .course:hover{
                    border: 1px solid $primary_color;
                }
            }
        }
    }
    .content{
        .container{
            h2,h4{
                color: $primary_color;
            }
        }
    }
    
}