.navbar{
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 5;
    .navbar-brand{
        display: flex;
        width: 65%;
        .logo{
            width: 60px;
            height: 60px;
            flex: 0 0 60px;
        }
        .logo-text{
            display: flex;
            align-items: center;
            >.row{
                >small{
                    font-size: 0.7em;
                    line-height: 1.2em;
                }
            }
        }
    }
    .navbar-toggler{
        color: transparent;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 55px;
        height: 40px;
        .toggler-icon{
            height: 3px;
            background: gray;
            position: absolute;
            width: 50%;
            top: 50%;
            left: 50%;
            transition: .5 ease-in-out;
        }
        .toggler-icon.top{
            transform: translate(-50%, -50%) rotate(45deg);
           
        }
        .toggler-icon.bottom{
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        .toggler-icon.middle{
            opacity: 0;
        }
    }
    .navbar-toggler.collapsed{
        .toggler-icon{
            position: unset;
            width: 100%;
            transform: rotate(0deg);
            transition: .25 ease-in-out;
        }
        .toggler-icon.middle{
            opacity: 1;
        }
    }
    .navbar-collapse{
        flex-grow: unset;
        .navbar-nav{
            max-height: unset;
            .nav-item{
                .nav-link{
                    cursor: pointer;
                }
                .nav-link.active,.nav-link:hover{
                    border-bottom: 2px solid $primary_color;
                    color: $primary_color;
                }
            }
        }
    }
}
.navbar.home{
    .navbar-brand{
        .logo-text{
            >.row{
                >small{
                    color: white;
                }
            }
        }
    }
    .navbar-toggler{
        border: 1px solid white;
        .toggler-icon{
            background: white;
        }
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: white;
                }
                .nav-link.active,.nav-link:hover{
                    border-bottom: 2px solid $primary_color;
                    color: $primary_color;
                }
            }
        }
    }
}